@media only screen and (max-width: 1024px) {
  body{
    font-size:13px;
  }
  .login-form, .pop-up {
    width: 50%;
    margin-left: 25%;
  }
  .scheme-show-content .scheme-item p{
    margin: 5.2em 2.8em;
  }

  .hp-container .course-center .left-menu, .hp-container .personal-center .left-menu{
    margin-top: 0;
  }
}

@media only screen and (max-width: 992px) {
  body{
    font-size:12px;
  }
  .contest-intro .title img {
    width: 90%;
  }
  .sign-up-button a{
    font-size: 1.5em;
  }
  .menu li a{
    font-size:1.3em;
  }
  .login-form, .pop-up{
    width: 60%;
    margin-left: 20%;
  }
  .hp-container .course-center .left-menu, .hp-container .personal-center .left-menu{
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 768px) {
  body{
    font-size:11px;
  }
  //.course-center .left-menu>nav a:last-of-type, .personal-center .left-menu>nav a:last-of-type {
  //  margin-top: 5em;
  //}
  .login-form, .pop-up{
    width: 80%;
    margin-left: 10%;
  }

  .scheme-show-content .scheme-item p{
    margin: 4.5em 2em;
  }

  .contest-profile-detail .contest-profile-pw .contest-profile-word p, .contest-arrangement-content .contest-profile-pw .contest-profile-word p, .sign-up-online-content .contest-profile-pw .contest-profile-word p, .contest-profile-detail .contest-arrangement-content>section .contest-profile-word p, .contest-arrangement-content>section .contest-profile-word p, .sign-up-online-content .contest-arrangement-content>section .contest-profile-word p, .contest-profile-detail .sign-up-online-content>section .contest-profile-word p, .contest-arrangement-content .sign-up-online-content>section .contest-profile-word p, .sign-up-online-content>section .contest-profile-word p{
    font-size: 1.3em;
    line-height: 1.5;
  }

  .contest-profile-detail, .contest-arrangement-content, .sign-up-online-content{
    padding: 2em 5% 2em;
  }

}

@media only screen and (max-width: 767.9px){
  body{
    font-size:11px;
    .hp-content{
      padding-top:0.5em;
    }
  }
  .menu {
    position: fixed;
    top:0;
    left: 0;
    z-index: 999;
    background-color: rgba(0,0,0,.8);
    //width: 100%;
    bottom: auto;
    .navbar-toggle {
      float: left;
    }
    .navbar-header{
      display: block;
    }
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus{
      background-image: none;
    }
    li{
      border-top: 1px solid rgba(214, 214, 214, .3);
      border-bottom: 1px solid rgba(214, 214, 214, .3);
    }
    .nav-tabs{
      >li{
        a{
          padding: 0.625em;
        }
      }
    }

    .nav-tabs>li.active>a, .nav-tabs>li>a{
      background: none;
      font-size:2em;
      font-weight: bolder;
    }
    .dropdown-menu{
      text-align: center;
      position: relative;
      float: none;
    }

  }
  .icon-bar {
    color: #fff;
    background-color: #fff;
  }
  .contest-intro{
    position: relative;
    font-size:10.5px;
    margin-top:60px;
    .title {
      position: absolute;
      top: -5em;
      left: 0;
      right: 0;
      img{
        width:5em;
        height:5em;
      }
      h1{
        margin-top:0;
        position: relative;
        top:-1.5em;
      }
    }
  }

  .hp-container > article > section{
    padding: 9em 0 2em;
  }
  .top{
    margin-top: 50px;
    min-height: 25em;
  }
  .sign-up-online{
    .row{
      font-size:10.5px;
      text-align: center;
      .prize-profile {
        padding-top: 2em;
      }
    }
  }
  .login-form{
    font-size:12px;
  }
  .arrangement-and-news h1 {
    margin-left: 0;
  }

  .arrangement-and-news {
    background: none;
    padding-top: 0em;
    margin-top: 0em;
    .contest-news {
      background-image: url("../../images/arrangement-bg.png");
      background-size: 100%;
      background-repeat: no-repeat;
      padding-top: 5em;
      margin-top:4em;
      .contest-news-content {
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }
    .contest-arrangement {
      margin-top:5em;
      background-image: url("../../images/arrangement-bg.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      padding-top: 5em;
    }
  }
/*  .course-center .left-menu>nav a:last-of-type, .personal-center .left-menu>nav a:last-of-type {
    display: none;
  }*/

}

@media only screen and (min-width: 481px) and (max-width: 767.9px){
  .contest-intro-text{
    width:50%;
    float: left;
  }
  .contest-sponsor{
    width:50%;
    float: right;
  }
  .hp-container .course-center .left-menu > nav li:nth-of-type(4), .hp-container .personal-center .left-menu > nav li:nth-of-type(4) {
    margin-top: 0;
  }
  .hp-container .course-center .left-menu > nav a, .hp-container .personal-center .left-menu > nav a {
    width: 90%;
  }

}

@media only screen and (max-width: 480px){
  body{
    font-size:10px;
  }
  .login-form{
    font-size:10px;
  }
  .hp-container > article{
    padding: 1em 1em 5em;
  }
  .hp-container > article > section{
    padding: 6.5em 0 2em;
  }
  .login-form, .pop-up, .pop-up {
    width: 90%;
    margin-left: 5%;
  }
  .banner-words{
    h1{
      font-size:2.4em;
    }
    >div {
      background-color: rgba(0,0,0,0.5);
      width: 35em;
      height: 2.5em;
      position: relative;
      top: -2em;
      left: 2em;
      z-index: 0;
    }
  }
  .icon-bar {
    color: #fff;
    background-color: #fff;
  }
  .contest-intro{
    position: relative;
    font-size:10.5px;
    .title {
      position: absolute;
      top: -20em;
      left: 0;
      right: 0;
      img{
        width:5em;
        height:5em;
      }
      h1{
        margin-top:0;
        position: relative;
        top:-1.5em;
      }
    }
    .contest-sponsor {
      padding: 3em;
      ul {
        width: 100%;
        li {
          float: left;
          &:nth-child(2n+1) {
            width: 30%;
            font-size:1.2em;
          }
          &:nth-child(2n) {
            width: 70%;
          }
        }
      }
    }
  }
  .scheme-show .section-title, .sign-up-online .section-title{
    width: 65%;
  }
  .scheme-show, .sign-up-online {
    padding: 2.5em 0;
    margin-top: 4em;
    h1{
      font-size: 2.0em;
      margin-left:10%;
    }
  }
  .scheme-show .scheme-show-content .scheme-item{
    height: 20em;
  }
  .scheme-show .more a, .sign-up-online .more a {
    font-size: 1.3em;
  }
  .scheme-show .scheme-show-content h2, .sign-up-online .scheme-show-content h2 {
    font-size: 1em;
  }
  .course-center-content{
    padding: 2em;
  }
  .form-control{
    height: 2em;
    padding: 0.375em 0.75em;
  }
  .contest-arrangement-content table tr td, .sign-up-online-content table tr td, .contest-arrangement-content table tr th, .sign-up-online-content table tr th{
    font-size: 1.3em;
    line-height: 1.5;
    padding: 1.5em;
  }
  .school-logo{
    margin-left:0.5em;
    span{
      &:nth-of-type(2){
        display: none;
      }
    }
  }
  .hp-container > article > h1{
    font-size: 1.8em;
  }
  .hp-content{
    .left-menu,.right-content{
      width:100%;
    }
  }
  .hp-container .course-center .left-menu h1, .hp-container .personal-center .left-menu h1 {
    width: auto;
    margin:0 auto;
    text-align: center;
  }
  .left-menu>nav{
    display: none;
  }

  .scheme-show-content .scheme-item p {
    margin: 2.5em 1.3em;
    padding: 0.5em;
  }

}

@media only screen and (max-width: 360px) {
  body{
    font-size: 8px;
  }

  .top {
    min-height: 20em;
  }
  .banner-words{
    >div {
      width: 30em;
    }
  }

  .sign-up-button a, .custom-button a {
    font-size: 1.3em;
  }

  .contest-profile-detail .contest-profile-pw .contest-profile-word p, .contest-arrangement-content .contest-profile-pw .contest-profile-word p, .sign-up-online-content .contest-profile-pw .contest-profile-word p, .contest-profile-detail .contest-arrangement-content>section .contest-profile-word p, .contest-arrangement-content>section .contest-profile-word p, .sign-up-online-content .contest-arrangement-content>section .contest-profile-word p, .contest-profile-detail .sign-up-online-content>section .contest-profile-word p, .contest-arrangement-content .sign-up-online-content>section .contest-profile-word p, .sign-up-online-content>section .contest-profile-word p{
    font-size:1.5em;
    line-height: 1.5;
    text-indent: 2em;
  }

  .scheme-show-content .scheme-item p {
    margin: 2.5em 1em;
  }
}

@media only screen and (max-width: 320px) {

}
