/* footer part
  ---------------------------------------------------------------------------
*/
footer {
  font-size: 1em;
  padding: 2.25em;
  line-height: 2;
  .container {
    margin: 0 auto;
  }
}

/* footer part end
  ==========================================================================
*/